<div style="height: calc(100vh - 26px)">
  <mat-toolbar style="background: black; color: white">
    Sharp Eye
    <mat-icon class="material-icons" routerLink='/'>dashboard</mat-icon>
    <mat-icon class="material-icons" routerLink='/status'>assignment_late</mat-icon>
  </mat-toolbar>
  <div style="background: white; padding: 10px; height: 90%" *ngIf="this.data">
    <ngx-charts-line-chart
      [scheme]="colorScheme"
      [results]="this.data"
      [gradient]="gradient"
      [xAxis]="true"
      [yAxis]="true"
      [legend]="true"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [autoScale]="autoScale"
      [timeline]="false">
    </ngx-charts-line-chart>
  </div>
</div>

